.wrapper {
  width: 100%;
  container-type: inline-size;
}

.keyboard {
  aspect-ratio: 29 / 10;
  display: flex;
  flex-direction: column;
  gap: 0.5cqi;
  font-size: 1.8cqw;
}

.row {
  flex: 1;
  display: flex;
  gap: 0.5cqi;
}

.row:last-child {
  gap: 0;
  padding: 0 20%;
}

.key {
  flex: 1;
  background-color: rgb(28, 29, 31);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25cqi;
  color: rgb(234, 236, 240);
  user-select: none;
  border: 1px solid rgb(28, 29, 31);
  border-bottom-color: #3e3e3e;
  box-shadow: 0 0.1cqi 0.01cqi 0.02cqi #1c1c1c;
}

.key.dualLabel {
  flex-direction: column;
  gap: 0.5cqi;
}
.key.dualLabel span:first-child {
  font-size: 0.7em;
}
.key.dualLabel span:last-child {
  font-size: 0.95em;
}

.Tab,
.Delete {
  flex: 1.5;
}

.CapsLock,
.Enter {
  flex: 1.75;
}

.ShiftLeft,
.ShiftRight {
  flex: 2;
}

.SpaceLeft,
.SpaceRight {
  box-shadow: none;
}

.SpaceLeft {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-width: 0;
}

.SpaceRight {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
}

.next {
  background-color: #9ab976;
}

.wrong {
  background-color: #d65956;
}
