.wrapper {
  font-family: monospace;
}

.beforePos {
  color: #ccc;
}

.atPos {
  text-decoration: underline;
}

.afterPos {
  color: black;
}

.error {
  color: red;
}

.returnKey {
  background-color: #1c1d1f;
  padding: 0 12px;
  font-size: 18px;
  color: rgb(234, 236, 240);
  border-radius: 4px;
}
